.container button {
  font-family: "Bungee";
  background-color: royalblue;
  color: white;
  padding: 0px 15px 0px 15px;
}

form textarea {
  width: 100%;
  margin: 15px 0px 15px 0px;
  background-color: #f4f1ec;
  border-width: 0px;
  border-bottom-style: groove;
  border-bottom-width: 5px;
  border-bottom-color: #545149;
  display: block;
}

.counter {
  float: right;
  font-family: "Bungee";
}

.counterMax {
  color: red;
}

.container tweet-text {
  float: left;
}