.tweet-article {
  border-style: solid;
  margin-top: 15px;
  border-color: #545149;
  border-width: 5px;
  text-align: left;
  height: 200px;
}

.tweet-article header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-top: 0px;
}

.tweet-article header img {
  width: 50px;
  height: 50px;
  margin: 5px 0px 5px 0px;
}

.tweet-article .name {
  position: absolute;
  margin-left: 50px;
}

.tweet-article .username {
  padding-right: 20px;
  font-weight: bold;
  color: transparent;
}

.tweet-article:hover .username {
  color:black;
}

.tweet-article:hover {
  box-shadow: 7px 7px #554455;
  display: block;
}

.tweet-article .tweet {
  margin-left:10px;
  margin-right:10px;
  border-width: 0px;
  border-bottom-style: groove;
  border-bottom-width: 5px;
  border-bottom-color: #545149;
}

.tweet-article .postAge {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: small;
}

.footerImgs {
  height: 50px;
}

.footerImgs > img {
  float: right;
  height:25px;
  width: 25px;
  margin-top: 0px;
  margin-right: 5px;
}